.latest-products {
  .products {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .single-product {
      min-width: 300px;
      .product-image {
        overflow: hidden;

        &:hover {
          .product-actions {
            right: 0;
          }
        }

        .product-actions {
          transition: all 0.4s;
          right: -100%;

          .add-to-cart,
          .add-to-wishlist {
            &:hover {
              background-color: #184059;
            }
          }
        }
      }
    }
  }
}
