.products-page {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f9f9f9;

  .shop-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "filter products";

    .filter {
      grid-area: filter;
    }

    .products-list {
      grid-area: products;

      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media screen and (max-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
        }

        .product-image {
          overflow: hidden;

          &:hover {
            .product-actions {
              right: 0;
            }
          }

          .product-actions {
            transition: all 0.4s;
            right: -100%;

            .add-to-cart,
            .add-to-wishlist {
              &:hover {
                background-color: #184059;
              }
            }
          }
        }
      }
    }
  }
}